h1{

    text-align: center
   
   }
   
   html {background-color: #dc3545;}
   
   div{
       
        text-align: center
       
   }
   
   form{
       width:25%;
       align-content:center;
       margin: 0 auto;
       
     }
